/* p{
    color:cadetblue
} */
/* #one{
    color: green;
}
.c2{
    color: red;
}
.color-main{
    color: blue;
} */
/*
*{
    normlize
    margin: 0;
    padding: 0;
}*/
/* .maincolor{

}
.secondarycolor{

} */
/* :root{
    --mc: #112255;
    --mb: #885544;
    --ob: rgba(0,0,0,0.3);
}
.main{ */
    /* color: #ab7d12; */
    /* color: white;
    background-color: rgba(0, 0, 0, 0.436);
}

p{
    color: var(--mc);
}
div{
    background-color: var(--mc);
} */
/* body{
    height: 3000px;
}
p{ */
    /* background-image: url(../images/back.jpg); */
    /* background-size: 100% 100%; */
    /* background-size: cover; contain */
    /* background-size: contain;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center top;
    background-color: red; */
    /* background: black; */
/* } */

.test{
    background-color: red;
    /* color: white; */
    width: fit-content;
    min-width: 20%;
    max-width: 50%;
    height: 20px;
    /* height: 500px; */
    /* height: 10rem;
    width: 30%; */
    /* width: calc(100% / 3);
    height: 10rem; */
}